@page
@using BookstoreCafe.Areas.Identity.Pages.Account;
@model LoginModel

<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login-style.css" />
</head>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center text-primary">Login</h2>
                    <hr />
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email Address" />
                            <label asp-for="Input.Email" class="form-label">Email Address</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                <label class="form-check-label" asp-for="Input.RememberMe">Remember Me</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button id="login-submit" type="submit" class="w-100 btn btn-primary">Log in</button>
                        </div>
                        <div class="text-center">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}