@model BookFormModel

@{
    ViewBag.Title = "Edit Book";
}

<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/form-style.css" />
</head>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-12 col-lg-8 col-xl-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center text-primary">@ViewBag.Title</h2>
                    <hr />
                    <form method="post">
                        <partial name="_BookFormPartial" model="@Model" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
