<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>About</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-lower">About us</span>
        </h1>
    </header>
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">Coziness, comfort, warmth</span>
                            <span class="section-heading-lower">Our Mission is...</span>
                        </h2>
                    </div>
                </div>
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded"><p class="mb-0">At *Bookcafe name*, our mission is to create a welcoming haven where individuals can escape the hustle and bustle of everyday life, immerse themselves in the world of literature, and savor the simple pleasures of delicious beverages and baked goods. We strive to foster a sense of community and connection by providing a warm and inviting space for patrons to gather, relax, and engage in meaningful conversations. Through our commitment to exceptional quality, hospitality, and creativity, we aim to inspire moments of joy, inspiration, and discovery for all who walk through our doors.</p></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">Become an adventurer!</span>
                            <span class="section-heading-lower">Book Collection</span>
                        </h2>
                    </div>
                </div>
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded"><p class="mb-0">Embark on a literary journey through our carefully curated collection of books, spanning a wide range of genres, authors, and titles. Lose yourself in the pages of captivating novels, thought-provoking essays, and inspiring memoirs, as you explore new worlds, gain fresh perspectives, and enrich your mind and soul. Our shelves are filled with literary treasures waiting to be discovered, inviting you to immerse yourself in the transformative power of storytelling and imagination.</p></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">Blended to Perfection</span>
                            <span class="section-heading-lower">Coffees & Teas</span>
                        </h2>
                    </div>
                </div>
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded"><p class="mb-0">Step into our cafe and awaken your senses with the enticing aroma of freshly brewed coffee, the delicate fragrance of artisanal teas, and the rich flavors of our specialty beverages. From velvety cappuccinos to robust pour-over coffees, each cup is meticulously crafted to perfection by our skilled baristas, using only the finest quality beans and ingredients. Whether you prefer a classic espresso or a unique seasonal creation, our diverse menu offers something to tantalize every taste bud.</p></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex me-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">Delicious Treats, Good Eats</span>
                            <span class="section-heading-lower">Bakery & Kitchen</span>
                        </h2>
                    </div>
                </div>
                <div class="product-item-description d-flex ms-auto">
                    <div class="bg-faded p-5 rounded"><p class="mb-0">Indulge your sweet tooth and treat yourself to a tempting array of freshly baked pastries, cakes, and desserts from our in-house bakery. From flaky croissants to decadent cheesecakes, each delectable creation is made with love and attention to detail, using only the finest ingredients and traditional baking techniques. Pair your favorite treat with a steaming cup of coffee or tea for the ultimate indulgence, and savor every blissful moment of culinary delight.</p></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>