<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bookstore Cafe</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>

    <section class="page-section clearfix">
        <div class="container">
            <div class="coffee">
                <img class="coffee-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/home - coffee.jpg" alt="..." />
                <div class="coffee-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Fresh Coffee</span>
                        <span class="section-heading-lower">Worth Drinking</span>
                    </h2>
                    <p class="mb-3">Indulge in the rich aromas and comforting warmth of our signature hot beverages. From freshly brewed coffees to soothing teas, our cafe offers a delightful selection to satisfy every palate. Whether you're in the mood for a bold espresso or a creamy latte, our expertly crafted drinks are sure to invigorate your senses and enhance your reading experience.</p>
                    <div class="coffee-button mx-auto"><a class="btn btn-primary btn-xl" href="Coffee/Menu">Check out menu here!</a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section clearfix">
        <div class="container">
            <div class="cafe">
                <img class="cafe-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/home - cafe.jpg" alt="..." />
                <div class="cafe-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Fresh Coffee</span>
                        <span class="section-heading-lower">Worth Drinking</span>
                    </h2>
                    <p class="mb-3">Explore the captivating world of literature amidst the cozy ambiance of our book cafe. Immerse yourself in a diverse collection of genres, ranging from timeless classics to contemporary bestsellers. With comfortable seating and a serene atmosphere, our cafe provides the perfect setting to unwind with your favorite book or discover new literary treasures. Whether you're a passionate reader or simply seeking a quiet retreat, our book section invites you to escape into the pages of imagination and inspiration.</p>
                    <div class="cafe-button mx-auto"><a class="btn btn-primary btn-xl" href="/Books/All">Check out out online bookstore here!</a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Our Promise</span>
                            <span class="section-heading-lower">To You</span>
                        </h2>
                        <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>